branches:
  only:
    - master
environment:
  matrix:
    - nodejs_version: "8"
    - nodejs_version: "10"
install:
  - ps: Install-Product node $env:nodejs_version
  - yarn install --pure-lockfile
  - yarn add rxjs@6
build: off
test_script:
  - node --version
  - npm --version
  - yarn --version
  - yarn run lib
